<!-- Cards des produits section-->
<section class="homePage">
    <div class="container">
    {% for patisserie in patisseries %}
        <div class="card profile-card-5 col-md-3 mt-3">
            <div class="card-img-block">
                <a class="class-img-top" href="{{ path('realisations_details', {'slug': patisserie.slug}) }}">
                    <img class="card-img-top" src="{{ vich_uploader_asset(patisserie, 'imageFile') | imagine_filter('miniature') }}" alt="{{ patisserie.nom }} de la Patisserie Claire et Romain">
                </a>
            </div>
            <div class="card-body pt-0">
                <a class="class-img-top" href="{{ path('realisations_details', {'slug': patisserie.slug}) }}">
                    <h5 class="card-title">{{ patisserie.nom|capitalize }}</h5>
                    <p class="card-text">{{ patisserie.description|u.truncate(200,'...', false) }}
                    </p>
                </a>      
            </div>
        </div> 
    {% endfor %}
    </div>
</section>
<!-- Quote aside-->
    <aside class="text-center bg-gradient-primary-to-secondary">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-xl-8">
                    <div class="h2 fs-1 text-white mb-4">Découvrez nos deux magasins situés au coeur de la Bretagne</div>
                    <div>
                        <a class="nav-link me-lg-3" href="{{ path('boutiques') }}">
                            <img src="/img/storeLogo.png" alt="Magasins Patisseries Claire et Romain" style="height: 3rem" />
                            <img src="/img/storeLogo.png" alt="Magasins Patisseries Claire et Romain" style="height: 3rem" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>