{% extends 'base.html.twig' %}

{% block title %}Détails des produits{% endblock %}

{% block body %}
<section>
    <div class="container">
        {% set img = categorie.patisseries|first %}
        <div>
            <div>
                <h1 class="pinkPolice">{{ categorie.nom|capitalize }}</h1>
            </div>
            <div>
                <p>{{ categorie.description|capitalize }}</p>
            </div>
        </div>
    </div>
    <div class="containerPortfolio">
        {% for patisserie in patisseries %}
            <div class="card profile-card-5 col-md-3 mt-3">
                <div class="card-img-block">
                    <img class="card-img-top" src="{{ vich_uploader_asset(patisserie, 'imageFile') | imagine_filter('portfolio') }}" alt="{{ patisserie.nom }} Patisserie Claire et Romain">
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title pinkPolice">{{ patisserie.nom|capitalize}}</h5>
                    {% if patisserie.portionPersonne is defined %}
                        <h5 class="card-title pinkPolice">{{ patisserie.portionPersonne|capitalize}}</h5>
                    {% endif %}
                    <p class="card-text">{{ patisserie.collection|capitalize }}</p>
                    <p class="card-text">{{ patisserie.description|raw }}</p>      
                </div>
            </div> 
        {% endfor %}
    </div>
</section>
{% endblock %}